{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script>
        var section = 'all';
    </script>
    <script type='module' src="{% static 'network/newPost.js' %}"></script>
    <script type='module' src="{% static 'network/main.js' %}"></script>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="card w-75 mx-auto bg-light m-2">
        <div class="form-group mx-auto w-50">
            <form id='new-post' class='p-2'>
                {% csrf_token %}
                {% for field in post_form %}
                    <h5>{{ field.label }}</h5>
                    <div class="form-group">
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
    <hr>
    <div id="posts-view" class="container mx-auto w-50"></div>
{% endblock %}
