{% load static %}

{% for post in post_page.object_list %}
    <div id='post-{{post.id}}' class="card mx-auto border-dark w-75 mb-3">
        <div class="card-header">
            <a href="{% url 'profile' username=post.author %}">
                <h5>{{ post.author }}</h5>
            </a>
        </div>
        <div class="card-body">
            <p id='content' class="card-text">{{ post.body }}</p>
            <div class="row">
                <div class="d-flex align-items-start flex-column ml-1">
                    <h6 class="card-subtitle text-muted mt-1 mr-auto">{{ post.date }}</h6>
                    <div id="like-div" data-id={{post.id}}>
                        <h6 class="card-subtitle mt-1">
                            <span class='font-weight-bold mr-1'>Likes:</span>
                            <span id="like-count" data-id={{post.id}}></span>
                        </h6>
                        {% if user.is_authenticated %}
                            <button id="like-btn" data-id={{post.id}} class="btn btn-outline-success btn-sm">
                                <i class="fa fa-thumbs-up"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
                {% if user.is_authenticated and user == post.author %}
                    <div id='edit-div' class="d-flex align-items-end ml-auto">
                        <button id="save-btn" class="btn btn-outline-success btn-sm m-1">Save</button>
                        <button id="cancel-btn" class="btn btn-outline-danger btn-sm m-1">Cancel</button>
                        <button id="edit-btn" data-id={{post.id}} class="btn btn-outline-secondary btn-sm m-1">Edit</button>
                        {% csrf_token %}
                    </div>
                {% endif %}
            </div>
        </div>    
    </div>
{% endfor %}

<ul class="pagination">
    {% if post_page.has_previous %}
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous" id='page-prev' data-section={{ section }} data-page={{ post_page.previous_page_number }}>
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a href='#' name='page' id='page-prev' data-section={{ section }} data-page={{ post_page.previous_page_number }} class='page-link'>{{ post_page.previous_page_number }}</a>
        </li>
    {% endif %}
    <li class="page-item active"><a href='#' id='page-current' class='page-link'>{{ post_page.number }}</a></li>
    {% if post_page.has_next %}
        <li class="page-item">
            <a href='#' name='page' id='page-next' data-section={{ section }} data-page={{ post_page.next_page_number }} class='page-link'>{{ post_page.next_page_number }}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next" name='page' id='page-next' data-section={{ section }} data-page={{ post_page.next_page_number }}>
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
    {% endif %}
</ul>