{% extends 'network/layout.html' %}
{% load static %}

{% block script %}
    <script>
        var section = '{{ profile.username }}';
        var userIsFollower = {{ user_is_follower }};
    </script>
    <script type='module' src="{% static 'network/newPost.js' %}"></script>
    <script type='module' src="{% static 'network/profile.js' %}"></script>
{% endblock script %}

{% block body %}
    <div class="card p-1 mt-1 w-75 mx-auto bg-light">
        <div class="card-body">
            <h2 class="card-title">{{ profile.username }}</h2>
            <div class="justify-content-start">
                <span class="font-weight-bold mr-2">Followers: 
                    <span id="followers">{{ followers }}</span>
                </span>
                <span class="font-weight-bold ml-2">Following:
                    <span id="following">{{ following }}</span>
                </span>
            </div>
            {% if user.is_authenticated and user != profile %}
                <div id="button">
                    {% csrf_token %}
                    <button id='follow-btn' class="btn btn-outline-primary sm"></button>
                </div>
            {% endif %}
        </div>
    </div>
    {% if user.is_authenticated and user == profile %}
        <div class="card w-75 mx-auto bg-light m-2">
            <div class="form-group mx-auto w-50">
                <form id='new-post' class='p-2'>
                    {% csrf_token %}
                    {% for field in post_form %}
                        <h5>{{ field.label }}</h5>
                        <div class="form-group">
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    {% endif %}
    <hr>
    <div id="posts-view" class="container mx-auto w-50"></div>
{% endblock body %}